<h2 mat-dialog-title class="title">{{title}}</h2>
<mat-dialog-content>
  {{message}}
  <mat-form-field appearance="fill">
    <mat-label>Type "{{entityNameToConfirm}}" to confirm</mat-label>
    <input matInput [(ngModel)]="entityName" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)="onCancel()">{{cancelButtonLabel}}</button>
  <button mat-flat-button (click)="onConfirm()" cdkFocusInitial
  [disabled]="!isEntityNameValid"
  color="primary">{{confirmButtonLabel}}</button>
</mat-dialog-actions>

