<div class="dashboard">
  <div class="container">
    <app-card title="Total number of users:" [value]="repo.totalUsers$ | async"></app-card>
    <app-card title="Total number of companies:" [value]="repo.totalCompanies$ | async"></app-card>
  </div>
  <div class="companies">
    <h2>Users per each company:</h2>
    <div *ngFor="let company of repo.usersPerCompany$ | async | keyvalue"
      class="company">
      <span class="title">{{ company.key }}</span>: {{ company.value }}
    </div>
  </div>
</div>
